@import url("https://fonts.googleapis.com/css?family=Anton|Courier+Prime|Roboto&display=swap" rel="stylesheet");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/btn-blue.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/menu.css");
@import url("components/bandeaubas.css")



html{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: table;
    width: 100%;
}

    * {-moz-box-sizing: border-box; box-sizing: border-box;}

footer{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: table-row;
    height: 21px;
}

h1, h2, h3 {
	font-family: 'Courier Prime', monospace;
	font-weight: bold;
}

a{
	text-decoration: none;
}

section {
    display: block;
    padding-top: 20px;
    height: 80px;
    background-color: #323232;
}

h4{
    font-size: 12px;
    color: lightgrey;
    font-weight: lighter;
}

#card {
	width: 150px;
}

#image-carré img {
    width: 150px;
    height: 150px;
    border-radius: 4%;
    overflow: hidden;
    object-fit: cover;
    object-position: 0px -50px;
}
#contact-carré img{
	width: 150px;
    height: 150px;
    border-radius: 4%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

